html{
    background-image: url(kaguyaEdit.png);
    font-family: 'Epilogue', sans-serif;
}

content::selection{
    color: white;
    background-color: black;
}

label::selection{
    color: white;
    background-color: rgb(58, 57, 57);
}

br::selection{
    user-select: none;
}

#content{
    width: 600px;
    height: 400px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
}

.text{
    text-align: center;
    display: block ;
    font-size: 30px;
}

.text:hover{
    animation: glowAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes glowAnimation{
    50%{ 
        text-shadow: 
        0 0 5px rgb(107, 106, 106),
        0 0 20px rgb(107, 106, 106),
        0 0 60px rgb(107, 106, 106),
        0 0 150px rgb(107, 106, 106);
    }
}

#checkbox{
    display: block;
    text-align: center;
    font-size: 20px;
    
}


.goback{
    margin-left: -15px;
}

.noneChoice{
    margin-left: -136px;

}

#textbox{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    width: 220px;
    border: 2px solid;
    font-family: 'Klee One', cursive;
    font-size: 20px;
}

#textbox::selection{
    color: white; 
    background-color: rgb(58, 57, 57);
}

#myButton{
    font-family: 'Epilogue', sans-serif;;
    user-select: none;
}

#myButton:hover{
    color: white; 
    background-color: rgb(98, 97, 97);
    cursor: pointer;
    animation: glowAnimation2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes glowAnimation2{
    50%{ 
        text-shadow: 
        0 0 5px rgb(73, 73, 73),
        0 0 20px rgb(73, 73, 73),
        0 0 60px rgb(73, 73, 73),
        0 0 150px rgb(73, 73, 73),
        0 0 300px rgb(73, 73, 73);
    }
}

#myButton:active{
    color: white; 
    background-color: rgb(58, 57, 57);
}

